<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        
        <!-- sankey diagram css and js -->
        <link type="text/css" rel="stylesheet" href="/stylesheets/sankey.css" />
        <script src="http://d3js.org/d3.v2.min.js?2.9.1"></script>
        <script src="http://bost.ocks.org/mike/sankey/sankey.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
            
                $('span.ip').click(function(){
                    $('#ip').val(this.innerHTML);
                }); 

                $('span.datetime').click(function(e){
                    if (e.ctrlKey && $('#datetime').val() != '' && $('#datetime').val().length < 30){
                        $('#datetime').val($('#datetime').val() + ' to ' + this.innerHTML);
                    }else{
                        $('#datetime').val(this.innerHTML);
                    }
                });             
                
                $('span.page').click(function(){
                    $('#page').val(this.innerHTML);
                });             

            });
            
            function clearForm(form) {
                $('input[type=text]', form).each(function() {
                    this.value = '';
                });
            };
        </script>
        <title> Log App </title>
    </head>
    <body>
        <form id="uploadForm" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
            Upload log: <input type="file" name="file">
            <input type="submit" name="submit" value="Upload">
        </form>   

        <hr>        
    
        <form id="filterForm" method="POST" action="">
            Filter logs by  
            {{ form.ip.label }}: {{ form.ip() }}
            {{ form.datetime.label }}: {{ form.datetime() }}</br>
            {{ form.page.label }}: {{ form.page() }}
            {{ form.maxLogs.label }}: {{ form.maxLogs() }}
            <input type="submit" name="submit" value="Filter">
            <input type="button" name="reset" value="Reset" onclick="clearForm(this.form)">
        </form>
        
        <hr>
        
        Sankey Diagram:
        <p id="chart">
    
        <hr>
        <p>logs:</p>
        {% for log in logs %}
            <span class="ip">{{ log.ip|escape }}</span> at 
            <span class="datetime">{{ log.datetime|escape }}</span> accessed 
            <span class="page">{{ log.page|escape }}</span>
            <br/>
        {% endfor %}
        
        {% if nodes and links %}
        <script>

            var margin = {top: 1, right: 1, bottom: 6, left: 1},
                width = 960 - margin.left - margin.right,
                height = 150 - margin.top - margin.bottom;

            var formatNumber = d3.format(",.0f"),
                format = function(d) { return formatNumber(d) + " Users"; },
                color = d3.scale.category20();

            var svg = d3.select("#chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var sankey = d3.sankey()
                .nodeWidth(15)
                .nodePadding(10)
                .size([width, height]);

            var path = sankey.link();

            paths = {
                "nodes":[
                    {% for node in nodes %}
                        {"name": "{{ node }}" },
                    {% endfor %}
                ],
                "links":[
                    {% for source, targetList in links.items() %}
                        {% for target, value in targetList.items() %}
                            {"source": {{ source }}, "target": {{ target }}, "value": {{ value['value'] }}},
                        {% endfor %}                                    
                    {% endfor %}                
                ]};

            makeSankeyGraph(paths);    
            function makeSankeyGraph(paths) {

              sankey
                  .nodes(paths.nodes)
                  .links(paths.links)
                  .layout(32);

              var link = svg.append("g").selectAll(".link")
                  .data(paths.links)
                .enter().append("path")
                  .attr("class", "link")
                  .attr("d", path)
                  .style("stroke-width", function(d) { return Math.max(1, d.dy); })
                  .sort(function(a, b) { return b.dy - a.dy; });

              link.append("title")
                  .text(function(d) { return d.source.name + " to " + d.target.name + "\n" + format(d.value); });

              var node = svg.append("g").selectAll(".node")
                  .data(paths.nodes)
                .enter().append("g")
                  .attr("class", "node")
                  .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                .call(d3.behavior.drag()
                  .origin(function(d) { return d; })
                  .on("dragstart", function() { this.parentNode.appendChild(this); })
                  .on("drag", dragmove));

              node.append("rect")
                  .attr("height", function(d) { return d.dy; })
                  .attr("width", sankey.nodeWidth())
                  .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
                  .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
                .append("title")
                  .text(function(d) { return d.name + "\n" + format(d.value); });

              node.append("text")
                  .attr("x", -6)
                  .attr("y", function(d) { return d.dy / 2; })
                  .attr("dy", ".35em")
                  .attr("text-anchor", "end")
                  .attr("transform", null)
                  .text(function(d) { return d.name; })
                .filter(function(d) { return d.x < width / 2; })
                  .attr("x", 6 + sankey.nodeWidth())
                  .attr("text-anchor", "start");

              function dragmove(d) {
                d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
                sankey.relayout();
                link.attr("d", path);
              }
            }

        </script>
        {% endif %}
    
    </body>
</html>